body {
  background-color: #c8c8c8;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px 0 20px;
  // height: 10vh;
}

/* gallery */

.gallery {
  position: relative;
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 15px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
  height: 90%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

img:hover {
  transform: scale(1.03);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}

.info-item {
  display: inline-block;
  font-size: 11px;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.is-hidden {
  display: none;
}
